@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    9 Institutskiy per., Dolgoprudny,<br />
    Moscow Region, 141701, Russian Federation<br />
</address>

<address>
    <strong>Support:</strong> Create an issue at my github page<br />
</address>