@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET project</h1>
    <p class="lead"> This was done by MIPT senior student, as final project in c# course</p>
    <p><a href="https://github.com/hisubbotin/net-study" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My repo</h2>
        <p>
            with c# and ASP.NET tasks
        </p>
        <p><a class="btn btn-default" href="https://github.com/EgorovEV/"> go! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>Создание веб-приложения с ASP.NET Core MVC на Windows с помощью Visual Studio</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/ru-ru/aspnet/core/tutorials/first-mvc-app/?view=aspnetcore-2.0"> here! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Some useful videos</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://www.asp.net/freecourses">Check it out! &raquo;</a></p>
    </div>
</div>